
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', Georgia;
  margin: 0;
text-align: center;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.page-title {
  text-align: center;
  font-weight: 100;
text-align: center;
}

.page-description {
  border: 1px solid #000;
  padding: 1px;
  text-align: center;
text-align: center;
margin:5px;
}

.Header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
text-align: center;
}

.logo{
Background-color: #DCDCDC; 
  margin: 1px;
  border: 5px solid #FFF;
  text-align: center;
  padding:1px;
}

.logo.item .thumbnail {
margin: 10px;
text-align: center;

}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
text-align: center;
padding:4px;
}

.gallery-item {
Background-color: #DCDCDC; 
  margin: 10px;
  border: 3px solid #FFF;
  text-align: center;
  padding:3px;
  padding-bottom: 3px;
  width: 60%;
  font-size: 1.1em; 
  font color: Black|#000000|rgb(0, 0, 0);
}


p {
  margin: .5em;
  font-size: 1.em; 
  font color: Black|#000000|rgb(0, 0, 0);
}


.gallery-item .thumbnail {
	margin: 2px;
	text-align: center;
	padding:3px;
}

.gallery-item img{
	margin:2px;
	padding:3px;
	text-align: center;
}

/* NAVIGATION */

nav {
  background-color: #FFF;
  padding: 10px;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 10px 10px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

nav a:link {
	text-decoration:none;
	color: black;
	height: 70px;
  line-height: normal;
}

a:link {
	color: black;
	height: 70px;
 line-height: normal;
}

a:visited {
	text-decoration:none;
	color:blue;
	height: 70px;
 line-height: normal;
}

a:hover{
	color: #Green
	font-weight: bold;
	height: 70px;
  line-height: normal;
  font-size:18px;

}

/* Automatic Slide Show for Pingree*/
.myslides fade img{
	width:60%;
	margin: 5px;
  border: 5px solid #FFF;
  text-align: center;
  padding:5px;
  width:60%;
}