
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  margin: 0;
  text-align: center;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.page-title {
  text-align: center;
  font-weight: 100;
  text-align: center;
}

.page-description {
  background-color: #CBE9E2, rgb(203, 233, 226)2; 
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  margin: 5px;
  font-family: 'Simonetta', Georgia;
  font-size: 18px; 
  font-weight: bold;
}

.Header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.logo{
  background: #DCDCDC url("watercolor.jpg") no-repeat right top; 
  margin: 1px;
  border: 5px solid #FFF;
  text-align: center;
  padding:1px;
}

.logo.item .thumbnail {
margin: 10px;
text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
  padding:4px;
}

.gallery-item {
  Background-color: #DCDCDC; 
  margin: 10px;
  border: 3px solid #FFF;
  text-align: center;
  padding:3px;
  padding-bottom: 3px;
  width: 60%;
  font-size: 1.1em; 
  font color: Black|#000000|rgb(0, 0, 0);
}


p {
  margin: .5em;
  font-size: 1.em; 
  font color: Black|#000000|rgb(0, 0, 0);
  font-family: 'Simonetta, Georgia;
}


.gallery-item .thumbnail {
	margin: 2px;
	text-align: center;
	padding:3px;
}

.gallery-item img{
	margin:2px;
	padding:3px;
	text-align: center;
}

/* NAVIGATION */

nav {
  background-color: #FFF;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Amatic SC', Georgia;
  font-size: 18px;
  font-weight: bold;
}

nav li {
  margin: 0;
  padding: 0 12px;
  display: inline;
  font-family: 'Amatic SC', Georgia;
  font-size: 18px;
  font-weight: bold;
}

nav ul {
  display: inline;
  font-family: 'Amatic SC', Georgia;
  font-size: 18px;
  font-weight: bold;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 10px;
  padding-bottom: 14px;
  border: 1px solid #204156;
  font-weight: bold;

}

.contact-btn a:active {
  position: relative;
  border: 2px solid #204156;
}

nav a:link {
	text-decoration:none;
	color: black;
	height: 70px;
  line-height: normal;
}

nav a:visited {
	text-decoration:none;
        font-color: #40917e;
	height: 70px;
        line-height: normal;
}

nav a:hover{
	color: #40917e;
	font-weight: bold;
	height: 70px;
  line-height: normal;
  font-size:20px;
}


/* Links */


a:link {
  color: black;
  height: 70px;
  line-height: normal;
}

a:visited {
  text-decoration:none;
  color: #40917e;
  height: 70px;
  line-height: normal;
}

a:hover{
  color: #40917e;
  font-weight: bold;
  height: 70px;
  line-height: normal;
  font-size:18px;
}

/* Automatic Slide Show for Pingree*/
.myslides fade img{
  width:60%;
  margin: 5px;
  border: 5px solid #FFF;
  text-align: center;
  padding:5px;
  width:60%;
}